In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

import warnings

warnings.filterwarnings('ignore')

%matplotlib inline

sns.set(color_codes=True)

In [2]:
data = pd.read_excel(
    io='data/ENB2012_data.xlsx',
    header=0,
    use_cols='A:J'
)
data.head()

     X1     X2     X3      X4   X5  X6   X7  X8     Y1     Y2
0  0.98  514.5  294.0  110.25  7.0   2  0.0   0  15.55  21.33
1  0.98  514.5  294.0  110.25  7.0   3  0.0   0  15.55  21.33
2  0.98  514.5  294.0  110.25  7.0   4  0.0   0  15.55  21.33
3  0.98  514.5  294.0  110.25  7.0   5  0.0   0  15.55  21.33
4  0.90  563.5  318.5  122.50  7.0   2  0.0   0  20.84  28.28

In [3]:
X = data.iloc[:,0:8]
y = data.iloc[:,8]

In [4]:
X.head()

     X1     X2     X3      X4   X5  X6   X7  X8
0  0.98  514.5  294.0  110.25  7.0   2  0.0   0
1  0.98  514.5  294.0  110.25  7.0   3  0.0   0
2  0.98  514.5  294.0  110.25  7.0   4  0.0   0
3  0.98  514.5  294.0  110.25  7.0   5  0.0   0
4  0.90  563.5  318.5  122.50  7.0   2  0.0   0

In [5]:
y.head()

0    15.55
1    15.55
2    15.55
3    15.55
4    20.84
Name: Y1, dtype: float64

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)
lm = LinearRegression().fit(X_train, y_train)

In [9]:
print('Coefficients: ', lm.coef_)
print('Intercept: ', lm.intercept_)

Coefficients:  [-5.44969665e+01 -8.37348013e+11  8.37348013e+11  1.67469603e+12
  4.04023743e+00 -7.18269944e-02  1.95275452e+01  1.74863480e-01]
Intercept:  69.6786469767805

In [10]:
print('Train score: ', lm.score(X_train, y_train))

Train score:  0.9175570574350425

In [11]:
print('Test score: ', lm.score(X_test, y_test))

Test score:  0.9114599320379979